body {
  margin: 0;
  padding: 0;
  background-color: #9D0722;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Estilos para el Navbar */





/*SECCION MAIN*/
.full-screen-section {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.full-screen-img {
  margin: 0; /* Eliminar el margen */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-link {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px; /* Ajustar el padding según sea necesario */
  margin: 0; /* Eliminar el margen */
}

.separamos-columnas {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  grid-column-gap: 0.2rem;

  overflow: hidden; /* Oculta el scrollbar nativo */
}

#filters {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid white;
  max-height: 130vh;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.grid-de-productos {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;  
  justify-content: center;
  max-height: 130vh;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


label {
  display: block;
  margin-bottom: 0.5rem;
}


.imagenes{
  margin: 1rem;
  border: 2px solid white;
  justify-content: center;
  width: 80%;
  height: 80%;
  
}



.imagenes {
  width: 80%; /* Asegura que la imagen ocupe todo el espacio disponible en su contenedor */
  height: 200px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  object-fit: fill; /* Cubre el contenedor manteniendo la relación de aspecto */
}


.filtros-colores{
  color: white;
  
}

.filtros-colores-main{
  color: white;
  font-weight: bold;
}



/* Media queries para ajustar la imagen en dispositivos móviles */
@media (max-width: 768px) {
  .full-screen-img {
    height: auto;
  }
  .full-screen-section{
    margin-top: -10px;
    margin-bottom: -300px;
  }
  .img-link {
      padding: 5px; /* Ajustar el padding según sea necesario */
      margin: 0; /* Eliminar el margen */
  }
}

/* Media queries adicionales para pantallas de escritorio más pequeñas */
@media (min-width: 769px) and (max-width: 1024px) {
  .full-screen-section {
        position: relative;
        width: 100%;
        height: 40vh;
        margin-bottom: 50px;
        overflow: hidden;
      }
  }


/* Media queries adicionales para pantallas de escritorio más pequeñas */
@media (min-width: 1024px) and (max-width: 769px ) {
  .full-screen-section {
      height: 50vh;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .full-screen-section {
      height: 70vh;
  }
}

@media (min-width: 1367px) and (max-width: 1513px) {
  .full-screen-section {
      height: 60vh;
  }
}



@media (max-width: 768px) {
  .filtros-colores{
    color: white;
    font-size: 13px;
  }

  .grid-de-productos{
    grid-template-columns: 1fr ;
  }
}


/*SECCION NOSOTROS*/
.gallery-container {
  background-color: #EF676C;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.gallery-item {
  width: calc(33.33% - 20px);
  background-color: #EF676C;
  box-shadow: #9D0722;
  text-align: center;
}

.gallery-item img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 200px; /* Establece la altura deseada para todas las imágenes */
  object-fit: cover; /* Para mantener la proporción y recortar la imagen si es necesario */
  border-bottom: 2px solid #9D0722;
}



.gallery-item h3 {
  color: #fff;
  margin: 10px 0;
}

.gallery-item p {
  margin: 10px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .gallery-item {
      width: calc(50% - 20px); /* Dos columnas en dispositivos móviles */
  }
}
